/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/* TRANSITION */

a, .btn {
  transition: all 300ms ease;
  color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* NAVIGATION */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-icon span {
  background-color: white;
}

.menu-links {
  background-color: black;
}

.menu-links a {
  color: white;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  color: white;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  filter: invert(1);
}

/* BUTTONS */

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  background: white;
  color: black;
  border: white 0.1rem solid;
}

.btn:hover {
  background: gray;
  color: black;
}

/* ABOUT SECTION */

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: white 0.1rem solid;
  text-align: center;
}

/* EXPERIENCE SECTION */

.experience-sub-title {
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* PROJECTS SECTION */

.color-container {
  border-color: white;
  background: rgb(30, 30, 30);
}

.project-title {
  color: white;
}

.project-btn {
  color: white;
  border-color: white;
}

/* CONTACT */

.contact-info-upper-container {
  border: white 0.1rem solid;
  background: black;
}

.contact-info-container p {
  font-size: larger;
  color: white;
}

.contact-icon {
  filter: invert(1);
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: white;
}
